/* https://coolors.co/palette/006466-065a60-0b525b-144552-1b3a4b-212f45-272640-312244-3e1f47-4d194d*/
/*https://coolors.co/palette/0e1c26-13232c-172a32-1c3139-21373f-253e45-2a454b*/


/*#B6CCA1*/

#navbar {
    background-color: #b68f40;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
}
a {
    color: aliceblue;
    text-decoration-line: none;
}
.welcome {
    height:100px;
    display: inline-flex;
    position: relative;
    color:rgb(114, 117, 117);
    font-size: 70px;
    opacity: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translateX(-50px);
}

.welcome:hover {
    font-size: 72px;
    transition-property: all;
    transition-duration: 0.8s;
}

#w1 {
    animation: slideIn 1s ease-out forwards;
}
#w2 {
    animation: slideIn 1.2s ease-out forwards;
    margin: 10px;
}
#w3 {
    animation: slideIn 1.4s ease-out forwards;
}
#w4 {
    color: #30011E;
    animation: slideIn 1.6s ease-out forwards;
    transition-property: all;
    transition-duration: 0.5s;
}

img {
    float: right;
    height:400px;
    width: 400px;
    border-radius: 50%;
    border:2px solid #0e1c26;
    position: relative;
    right: 250px;
    top: 20px;
    opacity: 0;
    transform: translateX(-300px);
    animation: slideIn 1s ease-in forwards;
    transition-property: all;
    transition-duration: 0.5s;
} 
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#quote1 {
    font-size: 20px;
    color: rgb(29, 15, 15);
    float: left;
    transition-property: all;
    transition-duration: 0.5s;
}
#quote1:hover {
    font-size: 21px;
    background-color: #9aa095 ;
    
}
img:hover {
    height:410px;
    width: 410px;
    border-radius: 50%;
}
#w4:hover {
    font-size: 74px;
}




